/* Variables */

$brand-color = #45b29d
$default-color = #555
$border-radius = 3px

$white = #eee
$gray = #777
$gray-light = #bbb
$gray-lighter = #e7e7e7
$cloud-light = #eee
$red = #d33d48
$yellow = #ecc850

$marker-size= 30px
